<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.movie.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.movie.pojo.Video" >
    <id column="video_id" property="videoId" jdbcType="VARCHAR" />
    <result column="c_id" property="cId" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="playurl" property="playurl" jdbcType="VARCHAR" />
    <result column="show_time" property="showTime" jdbcType="DATE" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="playtimes" property="playtimes" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.movie.pojo.Video" extends="BaseResultMap" >
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="SuperResultMap" type="com.movie.pojo.Video" extends="ResultMapWithBLOBs" >
    <association property="category" javaType="com.movie.pojo.Category">
      <id property="cId" column="c_id" />
      <result property="cName" column="c_name" />
      <result property="isParent" column="is_parent" />
      <result property="parentId" column="parent_id" />
    </association>
    <association property="videoDetail" javaType="com.movie.pojo.VideoDetail">
      <result property="videoId" column="video_id" />
      <result property="userId" column="user_id" />
      <result property="uptime" column="uptime" />
      <result property="updated" column="updated" />
      <association property="user" javaType="com.movie.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="account" property="account"/>
        <result column="parrword" property="parrword"/>
        <result column="nick_name" property="nickName"/>
        <result column="mail" property="mail"/>
        <result column="state" property="state"/>
        <result column="phone" property="phone"/>
        <result column="image" property="image"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="type" property="type"/>
      </association>
    </association>

  </resultMap>


  <sql id="insertActivePre">
    <trim prefix="(" suffix=")" suffixOverrides="," >
      video_id,c_id,
      <if test="name != null">
        name,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="playurl != null">
        playurl,
      </if>
      <if test="showTime != null">
        show_time,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="playtimes != null">
        playtimes,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
    </trim>
  </sql>

  <sql id="insertActiveSub">
    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
      #{videoId}, #{cId},
      <if test="name != null">
        #{name},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="image != null">
        #{image},
      </if>
      <if test="playurl != null">
        #{playurl},
      </if>
      <if test="showTime != null">
        #{showTime},
      </if>
      <if test="country != null">
        #{country},
      </if>
      <if test="playtimes != null">
        #{playtimes},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="introduce != null">
        #{introduce},
      </if>
    </trim>
  </sql>

  <sql id="updateActive">
    <trim prefix="SET " suffixOverrides=",">
      <if test="cId != null">
        c_id = #{cId},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="image != null">
        image = #{image},
      </if>
      <if test="playurl != null">
        playurl = #{playurl},
      </if>
      <if test="showTime != null">
        show_time = #{showTime},
      </if>
      <if test="country != null">
        country = #{country},
      </if>
      <if test="playtimes != null">
        playtimes = #{playtimes},
      </if>
      <if test="score != null">
        score = #{score},
      </if>
      <if test="state != null">
        state = #{state},
      </if>
      <if test="introduce != null">
        introduce = #{introduce},
      </if>
    </trim>
  </sql>


  <select id="selectVideoById" resultMap="BaseResultMap" >
    SELECT video_id,c_id,name,title,image,playurl,show_time,country,playtimes,score,state
     FROM video 
     where video_id = #{id} AND state = 1
  </select>

  <select id="selectVideoByIdWithBlobs" resultMap="ResultMapWithBLOBs" >
    SELECT video_id,c_id,name,title,image,playurl,show_time,country,playtimes,score,state,introduce 
    FROM video
    where video_id = #{id} AND state = 1
  </select>

  <select id="selectVideoList" resultMap="SuperResultMap">
      SELECT a.video_id,vd.uptime,vd.updated,u.nick_name,c.c_name,a.name,a.title,a.image,a.playurl,a.show_time,a.country,a.playtimes,a.score,a.state,a.introduce
      FROM (SELECT video_id,c_id,name,title,image,playurl,show_time,country,playtimes,score,state,introduce
            FROM video
            WHERE  state = 1 and name like #{name}
            LIMIT #{start},#{rows})
       a,category c,user u,video_detail vd
      WHERE a.c_id = c.c_id and a.video_id = vd.video_id and vd.user_id = u.user_id
      ORDER BY a.show_time DESC
  </select>

  <select id="selectVideoCount" resultType="long">
   SELECT count(1)
      FROM (SELECT video_id,c_id,name,title,image,playurl,show_time,country,playtimes,score,state,introduce
            FROM video
            WHERE  state = 1 and name like #{name})
       a,category c,user u,video_detail vd
      WHERE a.c_id = c.c_id and a.video_id = vd.video_id and vd.user_id = u.user_id
  </select>

  <select id="selectVideoTotalCount" resultType="long">
     SELECT count(video_id) from video
  </select>

  <insert id="insertVideo" parameterType="com.movie.pojo.Video" >
    INSERT INTO  video <include refid="insertActivePre"/> <include refid="insertActiveSub" />
  </insert>

  <delete id="deleteVideoById">
    DELETE FROM  VIDEO WHERE video_id = #{id}
  </delete>

  <update id="updateVideoById" parameterType="com.movie.pojo.Video">
    UPDATE video <include refid="updateActive" /> WHERE video_id = #{video_id}
  </update>

</mapper>